@page
@model Web.Pages.ProductsModel

<h1>hej</h1>
<script type="text/javascript" src="~/js/GetProducts.js">
	getProducts();
</script>

@{
	var client = new HttpClient();
	var uri = new Uri("http://localhost:5001/api/products");
	var response = await client.GetAsync(uri);

	System.Diagnostics.Debug.WriteLine(Newtonsoft.Json.JsonConvert.DeserializeObject(response.Content.ReadAsStringAsync().Result));
}
